.form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 50vh;
  border: 2px solid black;
}


form {
  text-align: center;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10%;
}

.error-msg {
  color: rgb(100, 0, 0);
  margin: 0 auto;
  font-size: 11px;
}

.button {
  cursor: pointer;
  border-radius: 5px;
  height: 25px !important;
  width: 50%;
  margin: 25px auto;
}

.button:hover {
  transition: linear 0.2s;
  background: rgb(168, 168, 168);
}