#root {
  height: 100vh; 
  background:rgba(18, 148, 255, 0.459);
  font-size: 20px;
}

/* .app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 500px;
  border: 2px solid black;
} */

.labels {
  display: flex;
  flex-direction: column;
}